.stats_item {
  background: white;
  width: 100%;
  border-radius: 10px;
  border-bottom: 3px solid rgb(117, 76, 230);
  padding: 3vw;
  margin-top: 4vh;
}
.count {
  color: rgb(117, 76, 230);
  font-weight: bold;
  font-size: 1.2em;
}
.ledt_stats {
  display: flex;
  align-items: center;
}
.ledt_stats i {
  margin-right: 15px;
  font-size: 1em;
  color: rgb(117, 76, 230);
}
.ledt_stats span {
  font-size: 1em;
  margin-left: 2vw;
}

.icon {
  height: 8vh;
  width: 25%;
}
